<!DOCTYPE html>
<html>
<head>
  <title><%= t('url_shortener.title') %></title>
</head>
<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="text-center mb-4">
          <h1><%= t('url_shortener.title') %></h1>
        </div>

        <!-- Display error messages -->
        <% if @url.errors.any? %>
          <div id="error_explanation" class="custom-error">
            <ul>
              <% @url.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <!-- Form to shorten URLs -->
        <%= form_with(model: @url, url: "/shorten", method: "post", local: true, class: "input-group mb-3", data: { turbo: "false" }) do %>
          <div class="input-group-prepend">
            <span class="input-group-text"><%= t('url_shortener.form.label') %></span>
          </div>
          <%= text_field_tag :original_url, nil, class: 'form-control' %>
          <div class="input-group-append">
            <%= submit_tag t('url_shortener.form.button'), class: 'btn btn-primary' %>
          </div>
        <% end %>

        <!-- Display the shortened URL -->
        <% if flash[:short_url] %>
          <div class="alert alert-success" role="alert">
            <%= t('url_shortener.flash.shortened') %> <%= link_to flash[:short_url], "/#{flash[:short_url]}", target: "_blank" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</body>
</html>

